@charset "utf-8";
*{
	margin: 0 auto;
	padding:0 auto;

	
}

#wrap{
	width:auto;
	height:5906px;
	
	
	
}
#banner{
	position:relative;
}
#header{
	position: absolute;
}
#header{
	width:1920px;
	height: 100px;
	background-color:black;
	margin: auto;
	margin-top: -908px;
	opacity: 35%;
	

}


#banner{
    width:1920px;
	height: 905px;
	margin: auto;
	
}

#content{
	width:1920px;
	height:5000px;
	background-color:white;
	margin: auto;
	
}


.navbar{
	position: absolute;
	margin-top: -856px;
	margin-left: 537px;
	
	
}
.navbar a{
	text-decoration: none;
	color:white;
	font-family:'Roboto', sans-serif; 
	font-size:20px; 
	font-weight: bold;
}
.navbar li{
	float: left;
	padding-left: 148px;
}

.navbar a:hover{
	color:magenta;
	
	
}

#about{
	
}
.word
{
	margin-left: 828px;
	font-family: 'Roboto', sans-serif; 
	font-size: 56px;
	margin-top: 29px;
	display: inline-block;
}
.photo{
	margin-left: 507px;
	margin-top: 52px;
	
}
.photo img{
	filter: drop-shadow(
      0px 0px 26px black
	)
}
.parah p{
	font-family: 'Roboto', sans-serif; 
	font-size: 30px;
	margin: 0 auto;
	color:black;
	text-align: justify;
	margin-top: 66px;
	line-height: 46px;
	padding: 10px;
	width: 1500px;
	letter-spacing: 1px;
}
#heading1{
	
}
.heading1{
	margin-left: 850px;
	font-family: 'Roboto', sans-serif; 
	font-size: 56px;
	margin-top: 148px;
	display: inline-block;
	color:black;
}
.parah1 p{
	font-family: 'Roboto', sans-serif; 
	font-size: 42px;
	margin-left: 208px;
	color:black;
	margin-top: 117px;
	
}
.parah2{
	width: 700px;
	margin-left: 210px;
}
.parah2 p{
	margin-left:208px;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	line-height: 46px;
	text-align: justify;
	width: 700px;
	margin: 0 auto;
	margin-top: 13px;
}
.iphone{
	float:right;
	
	margin-right: 185px;
	margin-top: -530px;
}
.iphone1{
	margin-left: 208px;
	margin-top: 200px;
}
.parah3{
	float:left;
	margin-left: 1033px;
	margin-top: -580px;
	font-family: 'Roboto', sans-serif; 
	font-size: 42px;
	color: black;
	
}
.parah4{
	width: 700px;
	margin-left: 210px;
}
.parah4 p{
    margin-left: 826px;
	font-size: 30px;
	text-align: justify;
	width: 700px;
	font-family: 'Roboto', sans-serif;
	line-height: 46px;
	margin-top: -530px;
	
}

.line{
	width: 334px;
	border: 1px solid gray;
	margin-top: 172px;
	margin-left: 535px;
	display: inline-block;
}
	.p
{
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	color: black;
	text-align: center;
	margin-top: -18px;
}
.line1{
	width: 334px;
	border: 1px solid gray;
	margin-top: -18px;
	margin-left:1047px;

}
.p1{
	font-family: 'Roboto', sans-serif;
	font-size: 56px;
	color: black;
	text-align: center;
	margin-top: 95px;
	
	
}
.line2{
	width: 77px;
	border: 1px solid gray;
	margin-top: 50px;
	margin-left: 727px;
	display: inline-block;
}
	.p2
{
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	color: black;
	text-align: center;
	margin-top: -18px;
}
.line3{
	width: 77px;
	border: 1px solid gray;
	margin-top: -18px;
	margin-left:1110px;

}
.parah5{
	text-align: center;
	margin-top: 103px;
	font-family: 'Roboto', sans-serif;
	font-size: 34px;
	font-weight: bold;
	
}
.parah5 span{
	color:#5F16DF;
	line-height: 2;
	font-weight: normal;
}
.image{
	margin-left: 517px;
	margin-top: 38px;
	opacity: 50%;
    transition-duration:0s;
	padding: 50px;
	
	
}
.image:hover{
	transform: scale(1.2);
	opacity: 100%;
}
#fooder{
	
}
.parah6{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 56px;
	font-weight:normal;
	margin-top: 88px;
	
}
.parah6 span{
	font-size: 36px;
	font-weight:normal;
}
.mouse img{
	border-radius: 50%;
	margin-left: 142px;
	margin-top: 103px;
}


.parah7{
	margin-left: 233px;
	font-family: 'Roboto', sans-serif; 
	font-size: 28px;
	margin-top: 3px;
	font-weight:bold;
}
.parah8{
	margin-left: 272px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: normal;
	margin-top: 10px;
	
}
.parah9{
	margin-left: 286px;
	font-size: 20px;
    font-weight: 900;
	margin-top: 6px;
	
}
.form{
	margin-left: 627px;
	margin-top: -440px;
}
.form label{
	font-family: 'Roboto', sans-serif; 
	font-size: 26px;
	font-weight:normal;
}
.form input{
	width:402px;
	height: 40px;
	font-size: 20px;
	font-weight:normal;
	border-radius: 8px;	
	padding-left: 18px;
}
.form1{
	margin-left: 627px;
	margin-top: 49px;
}
.form1 label{
	font-family: 'Roboto', sans-serif; 
	font-size: 26px;
	font-weight:normal;
}
.form1 input{
	width:402px;
	height: 40px;
	font-size: 20px;
	font-weight:normal;
	border-radius: 8px;
	padding-left: 18px;
}
.form2{
	margin-left: 627px;
	margin-top: 44px;
}
.form2 label{
	font-family: 'Roboto', sans-serif; 
	font-size: 26px;
	font-weight:normal;
}
.form2 input{
	width:402px;
	height: 40px;
	font-size: 20px;
	font-weight:normal;
	border-radius: 8px;	
	padding-left: 18px;
}
.form3{
	margin-left: 1168px;
	margin-top: -359px;
}
.form3 label{
	font-family: 'Roboto', sans-serif; 
	font-size: 26px;
	font-weight:normal;
}
.form3 textarea{
	width:479px;
	height:311px;
	border-radius: 8px;
	font-size: 20px;
	padding-left: 18px;
}
.form4{
	margin-left: 894px;
	margin-top: 146px;
}
.form4 input{
	width:140px;
	height: 40px;
	background-color: #2b275f;
	text-align: center;
	color:white;
	border: none;
	border-radius: 48px;
	cursor: pointer;
}
.insta{
	margin-left: 770px;
	margin-top: 51px;
}
.whatapp{
	margin-left: 894px;
	margin-top: -53px;
}
.twitter{
	margin-left: 1015px;
	margin-top: -53px;
}
.logo{
	margin-left: 121px;
	margin-top: -889px;
	position: absolute;
}
.parah10{
	font-family: 'Roboto', sans-serif; 
	font-size: 10px;
	font-weight:bold;
	margin-top: -842px;
	position: absolute;
	color:white;
	margin-left: 110px;
}
.parah11{
	font-family: 'Roboto', sans-serif; 
	font-size: 13px;
	font-weight: normal;
	margin-top: -832px;
	position: absolute;
	color:white;
	margin-left: 93px;
}
.text{
	font-family: 'Roboto', sans-serif;
	font-size:38px;
	font-weight: bold;
	margin-top:-307px;
	margin-left: 281px;
	color:#FFC400;
}
.text2{
	font-family: 'Roboto', sans-serif;
	font-size:36px;
	font-weight: bold;
	color:#35CFE8;
	margin-top:2px;
	margin-left: 240px;
}
.text3{
	font-family: 'Roboto', sans-serif;
	font-size:28px;
	font-weight:lighter;
	color:#35CFE8;
	margin-top:2px;
	margin-left: 216px;
}
.email{
	margin-left: 1137px;
	margin-top: -54px;
}





@media only screen and (max-width:500px){
	#wrap{
	width:500px;
	height:5906px;
	overflow: hidden;
	
	
	
}
	#banner img{
		
		width: 500px;
		height: 300px;
	}
		
.text{
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	font-weight: bold;
	margin-top:-194px;
	margin-left: 182px;
	color:#FFC400;
}
.text2{
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	font-weight: bold;
	color:#35CFE8;
	margin-top:-2px;
	margin-left: 167px;
}
.text3{
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	font-weight:lighter;
	color:#35CFE8;
	margin-top:1px;
	margin-left:131px;
}
	.word
{
	margin-left:181px;
	font-family: 'Roboto', sans-serif; 
	font-size: 25px;
	margin-top: -611px;
	position: absolute;
	
}
#banner{
	position:relative;
}

.photo img{
	margin-left: -461px;
	margin-top: -549px;
	width:400px;
	height:300px;
	position: absolute;
	
}

.parah p{
	font-family: 'Roboto', sans-serif; 
	font-size: 20px;
	margin: 0 auto;
	color:black;
	text-align: justify;
	margin-top: -237px;
	padding: 10px;
	width: 467px;
	letter-spacing: 1px;
    margin-left: 2px;
	line-height: 27px;
}
.heading1{
	margin-left: 203px;
	font-family: 'Roboto', sans-serif; 
	font-size: 25px;
	margin-top: 29px;
	display: inline-block;
	color:black;
}	

.iphone img{
	float:right;
	margin-right:1292px;
	margin-top: -159px;
	width:400px;
	height:300px;
}
	
	.parah1 p{
	font-family: 'Roboto', sans-serif; 
	font-size: 23px;
	margin-left: 14px;
	color:black;
	margin-top: 345px;
	
}
.parah2 p{
	margin-left:-196px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	line-height: 28px;
	text-align: justify;
	width: 467px;
	margin-top: 12px;
}	
	
	.iphone1 img{
	margin-left: -165px;
	margin-top: -160px;
	width:400px;
	height: 300px;
	}
	
.parah3{
	float:left;
	margin-left: 13px;
	margin-top: 21px;
	font-family: 'Roboto', sans-serif; 
	font-size: 23px;
	color: black;
	
}
	
.parah4 p{
    margin-left: -197px;
	font-size: 20px;
	text-align: justify;
	width: 467px;
	font-family: 'Roboto', sans-serif;
	line-height: 28px;
	margin-top: 57px;
	
}
.line{
	width: 150px;
	border: 1px solid gray;
	margin-top: 53px;
	margin-left: 30px;
	display: inline-block;
}	
.line1{
	width: 150px;
	border: 1px solid gray;
	margin-top: -11px;
	margin-left:303px;
	display: inline-block;
	position: absolute;
}		
	.p
{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: black;
	text-align: center;
	margin-top:-14px;
	margin-left: -1434PX;
}
.p1{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: black;
	text-align: center;
	margin-top: 21px;
	margin-left: -1433px;	
}	
	
.line2{
	width: 100px;
	border: 1px solid gray;
	margin-top: 27px;
	margin-left:31px;
	display: inline-block;
	position: absolute;
}		
	
	.p2
{
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	color: black;
	text-align: center;
	margin-top: 17px;
	margin-left: -1445px;
}	
	
.line3{
	width: 109px;
	border: 1px solid gray;
	margin-top: -14px;
	margin-left:340px;
	display: inline-block;
	position: absolute;
}		
	
.parah5{
	text-align: center;
	margin-top: 103px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	width:500px;
	font-weight: bold;
	line-height: 34px;
	
}

.image img{
	margin-left:-547px;
	margin-top:-70px;
	opacity:100%;
	width:445px;
	height: 300px;
	
}

.image:hover{
	transform: scale(1);
	opacity: 100%;
}	
	
.parah6{
	float: left;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight:normal;
	margin-top: 22px;
	
}
.parah6 span{
	float: left;
	font-size: 22px;
	font-weight:normal;
	width: 489px;
	line-height: 27px;
}
.mouse img{
	border-radius: 50%;
	margin-left: -370px;
	margin-top: 194px;
	width:250px;
	height:250px;
}
.parah7{
	margin-left: 171px;
	font-family: 'Roboto', sans-serif; 
	font-size: 18px;
	margin-top: 21px;
	font-weight:bold;
}
.parah8{
	margin-left: 179px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin-top: 12px;
	
}
.parah9{
	margin-left: 203px;
	font-size: 18px;
    font-weight: 900;
	margin-top: 9px;
	
}
.form{
	margin-left: 80px;
	margin-top: 70px;
}
.form label{
	font-family: 'Roboto', sans-serif; 
	font-size: 20px;
	font-weight:normal;
}
.form input{
	width:300px;
	height: 40px;
	font-size: 20px;
	font-weight:normal;
	border-radius: 8px;	
	padding-left: 18px;
	
}
	.form1{
	margin-left: 80px;
	margin-top: 29px;
}
.form1 label{
	font-family: 'Roboto', sans-serif; 
	font-size: 20px;
	font-weight:normal;
}
.form1 input{
	width:300px;
	height: 40px;
	font-size: 20px;
	font-weight:normal;
	border-radius: 8px;
	padding-left: 18px;
}
.form2{
	margin-left: 80px;
	margin-top:28px;
	
	}
	
.form2 label{
	font-family: 'Roboto', sans-serif; 
	font-size: 20px;
	font-weight:normal;
}
.form2 input{
	width:300px;
	height: 40px;
	font-size: 20px;
	font-weight:normal;
	border-radius: 8px;	
	padding-left: 18px;
}.form3{
	margin-left: 80px;
	margin-top: 31px;
}
.form3 label{
	font-family: 'Roboto', sans-serif; 
	font-size: 20px;
	font-weight:normal;
}
.form3 textarea{
	width:300px;
	height:150px;
	border-radius: 8px;
	font-size: 20px;
	padding-left: 18px;
}
.form4{
	margin-left:191px;
	margin-top: 50px;
}
.form4 input{
	width:85px;
	height: 40px;
	background-color: #2b275f;
	text-align: center;
	color:white;
	border: none;
	border-radius: 48px;
	cursor: pointer;
}
.insta{
	margin-left: 44px;
	margin-top: 51px;
}
.whatapp{
	margin-left:160px;
	margin-top: -53px;
}
.twitter{
	margin-left: 276px;
	margin-top: -53px;
}
	

.logo img{
	margin-left: 5px;
	margin-top: -1px;
	position: absolute;
	width: 45px;
	height: 45px;
}
.email{
	margin-left: 391px;
	margin-top: -53px;
}
#header{
	width:500px;
	height: 100px;
	background-color:black;
	margin: auto;
	margin-top:-373px;
	opacity: 35%;
	

}

}





















